.ShowCard {
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
  position: relative;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
  overflow: hidden;
  height: 100px;

  > .ShowCard-hero {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    > .ShowCard-title {
      font-size: 1.5rem;
      bottom: 10px;
      left: 10px;
      font-weight: 500;
      color: #fff;
      position: absolute;
    }
  }


  > .ShowCard-content {
    position: relative;
    z-index: 1;
  }

  > * {
    padding: 10px 20px;
  }

  > h2 {
    background-color: rgba(0,0,0,1);
    color: $colorTeal;
    font-weight: 600;
  }

  &-open {
    padding-top: 0;
    box-shadow: 3px 4px 3px 0px rgba(0,0,0,0.21);
    transform: translateY(-1px);
    flex-direction: row;
    height: 300px;

    > .ShowCard-hero {
      position: relative;
      display: flex;
      flex: 2;
      height: 100%;
    }

    > .ShowCard-content {
      background-color: #fff;
      overflow: auto;
      flex: 1;
      height: 100%;
    }

  }

}