.ShowCard {
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
  position: relative;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
  overflow: hidden;
  height: 150px;

  > .ShowCard-heroContainer {
    position: relative;
    line-height: 0;
    height: 100%;

    > * {
      line-height: 1;
    }

    > .ShowCard-timeContainer {
      top: 10px;
      left: 10px;
      font-weight: 600;
      position: absolute;
      font-weight: 600;

      > .ShowCard-playingNow {
        color: #fff;
        font-size: 1.5rem;
        text-shadow: 2px 2px 0px $colorTeal;
        margin-bottom: 5px;
      }
  
      > .ShowCard-time {
        font-size: 1.2rem;
        text-shadow: 2px 2px 0px $colorOrange;
      }
    }

    > .ShowCard-hero {
      width: 100%;
      margin-top: -150px;
      opacity: .7;
      background: #fff;
    }
  
      > .ShowCard-title {
        font-size: 1.5rem;
        bottom: 10px;
        left: 10px;
        font-weight: 500;
        color: #fff;
        padding: 5px;
        position: absolute;
        border-radius: 4px;
      }
  
      > .ShowCard-creators {
        top: 10px;
        right: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        .ShowCard-hosts {
          color: #fff;
          font-size: .8rem;
          font-weight: 600;
          border-radius: 3px;
          padding: 3px;
          margin-bottom: 3px;
        }
      }


    @media (max-width: 700px), (max-device-width: 700px) {
      .ShowCard-hero {
        margin-top: -50px;
      }

      .ShowCard-title {
        right: 10px;
      }
    }
  }

  &-open {
    padding-top: 0;
    box-shadow: 3px 4px 3px 0px rgba(0,0,0,0.21);
    flex-direction: row;
    height: auto;
    max-height: 250px;

    > .ShowCard-heroContainer {
      flex: 2;
      max-height: 250px;
      
      > .ShowCard-hero {
        background: #fff;
        margin-top: 0;
      }

    }
    > .ShowCard-description {
      flex: 1;
      background: #fff;
      font-size: 1.2rem;
      padding: 20px;
      overflow: auto;
      line-height: 1.4;
    }

    @media (max-width: 700px), (max-device-width: 700px) {
      flex-direction: column;
      max-height: none;

      > .ShowCard-heroContainer {
        flex: none;
        height: auto;
        max-height: none;

        > .ShowCard-hero {
          border: none;
        }
      }

      > .ShowCard-description {
        flex: none;
        position: relative;
        z-index: 3;
        min-height: 100px;
      }

    }
  }

}