.ShowCard {
  margin-bottom: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
  position: relative;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
  overflow: hidden;
  height: 150px;
  max-width: 900px;

  &-even {
    background-color: $colorPink;
  }

  &-odd {
    background-color: $colorLightOrange;
  }

  > .ShowCard-heroContainer {
    position: relative;
    line-height: 0;
    height: 100%;

    > * {
      line-height: 1;
    }

    > .ShowCard-timeContainer {
      top: 10px;
      left: 10px;
      font-weight: 600;
      position: absolute;
      font-weight: 600;

      > .ShowCard-playingNow {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5rem;
        text-shadow: 2px 2px 0px $colorOrange;
        margin-bottom: 5px;
      }
  
      > .ShowCard-time {
        color: #fff;
        font-size: 1.2rem;
      
        &-even {
          text-shadow: 2px 2px 0px $colorLightOrange;
        }

        &-odd {
          text-shadow: 2px 2px 0px $colorPink;
        }
      }
    }

    > .ShowCard-hero {
      width: 100%;
      margin-top: -150px;
      opacity: .7;
      background: #fff;
    }
  
    > .ShowCard-info {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .ShowCard-title {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
        width: fit-content;

        &-even {
          background-color: $colorLightOrange;
        }
      
        &-odd {
          background-color: $colorPink;
        }
      }
  
      > .ShowCard-creators {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        &-even {
          text-shadow: 1px 1px 0px $colorLightOrange;
        }

        &-odd {
          text-shadow: 1px 1px 0px $colorPink;
        }
        
        .ShowCard-hosts {
          max-width: 400px;
          text-align: right;
          font-size: .8rem;
          font-weight: 600;
          border-radius: 3px;
          padding: 3px;
          margin-bottom: 3px;
          color: #fff;
        }
      }
    }

    @media (max-width: 700px), (max-device-width: 700px) {
      .ShowCard-hero {
        margin-top: -20px;
      }

      .ShowCard-info {
        justify-content: flex-end;

        > .ShowCard-creators {
          display: none;
        }

        > .ShowCard-title {
          right: 10px;
          font-size: 1.2rem;
          width: 100%;
        }
      }

      .ShowCard-time {
        font-size: 1rem;
      }
    }
  }

  > .ShowCard-widescreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    > h2 {
      color: white;
    }

    > h1 {
      color: white;
      font-size: 1.4rem;
    }
  }

  &-open {
    padding-top: 0;
    box-shadow: 3px 4px 3px 0px rgba(0,0,0,0.21);
    flex-direction: row;
    height: auto;
    max-height: 382px;

    @media (any-pointer:coarse) {
      max-height: 362px;
    }

    > .ShowCard-heroContainer {
      flex: 2;
      max-height: 382px;

      @media (any-pointer:coarse) {
        max-height: 362px;
      }
      
      > .ShowCard-hero {
        background: #fff;
        margin-top: 0;
      }

    }
    > .ShowCard-description {
      flex: 1;
      background: #fff;
      font-size: 1.1rem;
      padding: 20px;
      overflow: auto;
      line-height: 1.4;
      max-width: 286px;

      @media (max-width: 960px), (max-device-width: 960px) {
        max-width: none;
      }
    }

    @media (max-width: 960px), (max-device-width: 960px) {
      max-height: 250px;

      > .ShowCard-heroContainer {
        max-height: 250px;
      }
    }

    @media (max-width: 700px), (max-device-width: 700px) {
      flex-direction: column;
      max-height: none;

      > .ShowCard-heroContainer {
        flex: none;
        height: auto;
        max-height: none;

        > .ShowCard-hero {
          border: none;
        }

        > .ShowCard-info {
          justify-content: flex-end;

          > .ShowCard-creators {
            display: flex;
          }
        }

      }

      > .ShowCard-description {
        flex: none;
        position: relative;
        z-index: 3;
        min-height: 100px;
      }

    }
  }

}