.sbInputForm {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sbTextFieldArea {
  display: inherit;
  height: 100%;
  width: 75%;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px 5px;
}

.sbTextFieldArea input::placeholder {
  font-size: 10px;
  color: #ccc;
}

.sbNameInput {
  width: 100%;
  background-color: inherit;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.sbTextInput {
  width: 100%;
  background-color: inherit;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.sbButtonArea {
  width: 25%;
  padding: 5px;
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sbSubmitButton {
  width: 100%;
  height: 100%;
  color: $colorOrange;
  background-color: inherit;
  border: 2px solid $colorOrange;
  border-radius: 10px;
}

.sbSubmitButton:disabled {
  opacity: 0.5;
}