@import '../../../styles/common.scss';

.sbNameText {
  font-weight: 600;
  font-size: 0.9rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-Staff {
    color: $colorOrange;
  }
  &-Server {
    color: $colorOrange;
  }
  &-Default {
    color: $colorWhite;
  }
}
