$colorDarkBlue: #003366;
$colorNotAsDarkBlue: #325b84;
$colorTeal: #5bbfbf;
$colorBlue: #60a3ee;
$colorOrange: #ee6b60;
$colorWhite: #fff;

$colorPurple: #230127;
$colorLightPurple: #58265D;
$colorStraw: #EEF2B0;
$colorLightOrange: #DB8841;
$colorPink: #9B3970;
$colorPurpleInbetween: #57355A;

$colorMainBackgroundDark: $colorDarkBlue;
$colorMainBackgroundLight: $colorNotAsDarkBlue;

$colorMainTextColor: $colorWhite;
$colorEmTextColor: $colorTeal;

$colorMainHeader: $colorOrange;
$colorSubHeader: $colorOrange;

$colorNavLink: $colorTeal;
$colorLinkTextColor: $colorOrange;

$colorShoutboxMessageText: $colorWhite;

$showListSelected: $colorOrange;
$showListLink: $colorTeal;
$showLinkLinkHover: $colorOrange;
$showCardEven: $colorOrange;
$showCardOdd: $colorTeal;

$headerHeight: 80px;
$footerHeight: 216px;
