$colorTeal: #5bbfbf;
$colorBlue: #60a3ee;
$colorOrange: #ee6b60;

$colorPurple: #230127;
$colorLightPurple: #58265D;
$colorStraw: #EEF2B0;
$colorLightOrange: #DB8841;
$colorPink: #9B3970;
$colorPurpleInbetween: #57355A;

$colorMainBackgroundDark: $colorPurple;
$colorMainBackgroundLight: $colorLightPurple;

$colorMainTextColor: $colorLightOrange;
$colorEmTextColor: $colorStraw;

$colorLinkTextColor: $colorStraw;

$headerHeight: 80px;
$footerHeight: 215px;
