.RadioPlayer {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  margin-bottom: 42px;
}

.RadioPlayer-inPage {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 600px), (max-device-width: 600px) {
    flex-direction: column;
  }
}

.RadioPlayer-Brand {
  max-width: 300px;
  min-width: 150px;
  flex: 1;
  margin-bottom: 30px;
  @media (max-width: 600px), (max-device-width: 600px) {
    width: 300px;
  }
}

.RadioPlayer-contact {
  > * {
    padding: 0.25rem 0rem;
    font-size: 0.9rem;
    > b {
      color: #ee6b60;
      font-weight: 600;
    }
  }
}

.RadioPlayer-streamLink {
  margin-top: 1rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  font-size: 0.9rem;

  > svg {
    margin-right: 0.5rem;
  }
}

.RadioPlayer-controlWrapper {
  flex: 2;
  background-color: #0f243a;
  padding: 2rem;
  border-radius: 5px;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media (max-width: 600px), (max-device-width: 600px) {
    margin-left: 0;
  }
}

.RadioPlayer-nowPlaying {
  flex: 1;
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 600;
  color: #fff;
  text-align: left;

  @media (max-width: 600px), (max-device-width: 600px) {
    max-width: calc(0.8 * 100vw - 80px);
    overflow: hidden;
  }

  > span {
    display: block;
    padding: 0.25rem;
  }

  > span:last-child {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ee6b60;
  }
}

.RadioPlayer-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.RadioPlayerControl {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 42px;
  height: 42px;

  svg {
    fill: #fff;
    color: #fff;
  }

  :hover {
    outline: none;
  }
}

.pulse {
  fill: #fff;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  transition: all 0.3s ease;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
