@import '../../styles/common.scss';

.RadioPlayer {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: $colorWhite;
  align-items: center;
}

.RadioPlayer-inPage {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 600px), (max-device-width: 600px) {
    flex-direction: column;
  }
}

.RadioPlayer-Brand {
  max-width: 300px;
  min-width: 150px;
  flex: 1;
  margin-bottom: 30px;
  object-fit: contain;
  @media (max-width: 600px), (max-device-width: 600px) {
    width: 300px;
  }

  animation: rotation 2.5s infinite linear;
  animation-play-state: paused;
}

.RadioPlayer-contact {
  padding: 2rem;

  > p, h1 {
    font-size: 1rem;
    width: fit-content;
    color: $colorWhite;
    > b {
      color: $colorOrange;
      font-weight: 600;
    }

    > svg {
      margin-right: 0.5rem;
    }
  }

  h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1em;
  }

  > .desktop-only {
    display: none;

    @media(min-width: 600px), (min-screen-width: 600px) {
      display: flex;
    }
  }
}

.RadioPlayer-streamLink {
  margin-top: 1rem;
  color: $colorWhite;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;

  > svg {
    margin-right: 0.5rem;
  }
}

.RadioPlayer-controlWrapper {
  flex: 1;
  padding: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media (max-width: 600px), (max-device-width: 600px) {
    margin-left: 0;
  }

  .Button {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    font-size: 0.9rem;
  }
}

.RadioPlayer-nowPlaying {
  flex: 1;
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 600;
  color: $colorWhite;
  text-align: center;

  @media (max-width: 600px), (max-device-width: 600px) {
    max-width: calc(0.8 * 100vw - 80px);
    overflow: hidden;
  }

  > span {
    display: block;
    padding: 0.25rem;
    color: $colorWhite;
  }

  > span:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 600;
    color: $colorOrange;
  }
  > span:last-child {
    font-size: 0.9rem;
    font-weight: 600;
    color: $colorOrange;
    opacity: 0.6;
    padding-top: 0;
  }
}

.RadioPlayer-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.RadioPlayerControl {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 42px;
  height: 42px;

  svg {
    margin-left: 2rem;
    color: $colorWhite;
  }

  :hover {
    outline: none;
  }
}

.pulse {
  fill: $colorWhite;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  transition: all 0.3s ease;
}

.rotate {
  animation: rotation 2s infinite linear;
  animation-play-state: paused;
}

.running {
  animation-play-state: running;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (min-width: 600px), (min-screen-width: 600px) {
  .RadioPlayer-controlWrapper {
    border-left: 1px solid $colorWhite;
  }

  .RadioPlayer-contact {
    border-left: 1px solid $colorWhite;
  }
}