.sbMainWrapper {
  width: 20rem;
  background-color: #325b84;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.21);
}

.sbMessageArea {
  height: 30rem;
  overflow: auto;
  overflow-x: hidden;
}

.sbInputArea {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.21);
  height: 3rem;
}