.sbMainWrapper {
  width: 100%;
  height: 100%;
  background-color: #e8897285;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.21);
  margin: 0px auto;
}

.sbMessageArea {
  text-align: start;
  height: 85%;
  overflow: auto;
  overflow-x: hidden;
  padding: 0.5rem 0;
}

.sbInputArea {
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.14);
}

.sbNotConnectedText {
  text-align: center;
  margin: 1rem;
  color: #fff;
}

.sbInputForm {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.sbButtonArea {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sbSubmitButton {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border: 3px solid #fff;
  font-weight: 600;
}

.sbSubmitButton:disabled {
  opacity: 0.5;
}
