@import '../../styles/common.scss';

.ContentPage {
  font-family: Montserrat, sans-serif;
  color: $colorMainTextColor;
  text-align: left;

  > img {
    max-width: 100%;
  }

  > h1 {
    font-size: 2rem;
    font-weight: 600;
    color: $colorMainHeader;
    padding: 10px 0;
  }

  > h2 {
    padding: 20px 0 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: $colorSubHeader;
  }

  > h3 {
    padding: 10px 0 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: $colorSubHeader;
  }

  > p {
    line-height: 1.4;
    padding: 7px 0;

    > b {
      font-weight: 600;
      color: $colorEmTextColor;
    }

    > i {
      font-style: italic;
    }
  }

  blockquote {
    color: $colorTeal;
    font-style: italic;
    line-height: 1.4;
    margin: 16px 10px;

    i {
      text-align: right;
      display: block;
      color: $colorMainTextColor;
    }

    a {
      display: block;
      width: fit-content;
      cursor: pointer;
      display: inline-block;
      text-align: left;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 400;
      font-style: normal;
      color: $colorMainTextColor;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      padding: .375rem .75rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      border: 3px solid $colorMainTextColor;
      font-weight: 600;

      &:hover {
          color: initial;
          background: $colorMainTextColor;
      }
    }
  }

  a {
    color: $colorLinkTextColor;
    font-weight: 700;
  }

  li {
    padding: 5px 0;
    line-height: 1.4;
    list-style: disc;

    em, b {
      font-weight: 600;
      color: $colorEmTextColor;
    }
  }

  ul, ol {
    padding-left: 20px;
  }

  ol > li {
    list-style-type: decimal;
    font-size: 1.1rem;
    padding-left: 10px;

    > span {
      font-size: 1rem;
    }
  }

  .ImageContainer, .ScreenshotContainer {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 20px 60px;

    @media (max-width: 800px), (max-screen-width: 800px) {
      padding: 20px;
    }

    > img {
      border-radius: 5px;
      max-width: 100%;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
      -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
      transition: all ease-in-out .2s;
    }
    
    &.ScreenshotContainer > img {
      max-width: 550px;
    }

    > p {
      color: $colorMainTextColor;
      padding-top: 0.5rem;
      padding-right: 1rem;
      font-size: 0.9em;
    }
  }

  .VideoContainer {
    display: flex;
    justify-content: center;
  }
}

.ComponentContainer {
  width: 900px;
  max-width: 100%;
  margin: auto;
  padding: 20px 20px 40px 20px;

  &-showlist {
    width: 1320px;
  }
}