.ShowList {
  &-selector {
    padding: 20px 0px;
    display: block;

    > li {
      cursor: pointer;
      display: inline-block;
      padding: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
      color: #fff;
      text-transform: capitalize;

      &:first-child {
        color: $colorTeal;
      }
    }
  }
}