<div class="RadioSponsors">
  <h2 class="Subtitle">Turun Wappuradion tukena</h2>
  <div class="RadioSponsors-items">
    <a class="RadioSponsors-container" target="_blank" href="https://reaktor.com?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-reaktor.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="https://www.vincit.com?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-vincit.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="https://www.magicad.com?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-magicad.jpg"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="https://www.blalab.com/?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-blalab.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="https://www.tek.fi/fi?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-tek.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="https://www.loimu.fi?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-loimu.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="#">
      <img class="RadioSponsors-logo" src="logo-proffa.png"/>
    </a>
  </div>
</div>