<div class="RadioSponsors">
  <h2 class="Subtitle">Turun Wappuradion tukena</h2>
  <div class="RadioSponsors-items">
    <a class="RadioSponsors-container" href="#">
      <img class="RadioSponsors-logo" src="https://placehold.it/600x200"/>
    </a>
    <a class="RadioSponsors-container" href="#">
      <img class="RadioSponsors-logo" src="https://placehold.it/600x200"/>
    </a>
    <a class="RadioSponsors-container" href="#">
      <img class="RadioSponsors-logo" src="https://placehold.it/600x200"/>
    </a>
    <a class="RadioSponsors-container" href="#">
      <img class="RadioSponsors-logo" src="https://placehold.it/600x200"/>
    </a>
    <a class="RadioSponsors-container" href="#">
      <img class="RadioSponsors-logo" src="https://placehold.it/600x200"/>
    </a>
    <a class="RadioSponsors-container" href="#">
      <img class="RadioSponsors-logo" src="https://placehold.it/600x200"/>
    </a>
    <a class="RadioSponsors-container" href="#">
      <img class="RadioSponsors-logo" src="https://placehold.it/600x200"/>
    </a>
  </div>
</div>