<div class="RadioSponsors">
  <h2 class="Subtitle">Turun Wappuradion tukena</h2>
  <div class="RadioSponsors-items">
    <a class="RadioSponsors-container" target="_blank" href="https://reaktor.com?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-reaktor.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="#">
      <img class="RadioSponsors-logo" src="https://dummyimage.com/300x100/55efc4/000000&text=Vincit"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="#">
      <img class="RadioSponsors-logo" src="https://dummyimage.com/300x100/a29bfe/000000&text=Magicad"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="https://www.tek.fi/fi?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-tek.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="https://www.loimu.fi?source=turun_wappuradio">
      <img class="RadioSponsors-logo" src="logo-loimu.png"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="#">
      <img class="RadioSponsors-logo" src="https://dummyimage.com/300x100/74b9ff/000000&text=Blalab"/>
    </a>
    <a class="RadioSponsors-container" target="_blank" href="#">
      <img class="RadioSponsors-logo" src="logo-proffa.png"/>
    </a>
  </div>
</div>