@import '../../styles/common.scss';

.CalendarContainer {
  color: $colorMainTextColor;
  line-height: 1.4;

  h2 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0 10px;
  }

  .CalendarEvent {
    padding: 10px;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.21);
    }

    > h3 {
      font-size: 1.4rem;
      color: $colorEmTextColor;
    }
  }

  > .align-right {
    width: 100%;
    text-align: right;
    margin-top: 5px;
    
    > a {
      text-decoration: underline;
      cursor: pointer;
      margin-right: 10px;
      color: $colorLinkTextColor;
    }
  }
}

