@import '../../styles/common.scss';

.Footer {
  background-color: #000;
  color: $colorLinkTextColor;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.21);
  box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.21);

  > ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    text-align: center;

    > li > .social-icon {
      width: 32px;
      height: 32px;
      text-decoration: none;

      > svg {
        width: 32px;
        margin: 16px;
        fill: #fff;
        transition: .1s ease-in-out;

        &:hover {
          fill: $colorLinkTextColor;
          transform: scale(1.2);
        }
      }
    }

    > li > a {
      color: $colorLinkTextColor;
    }
  }
}
