@import '../../styles/common.scss';

.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: $colorWhite;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    background-color: $colorOrange;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 3px solid $colorOrange;
    font-weight: 600;

    &:hover {
        background: $colorBlue;
        border-color: $colorBlue;
    }

    &-selected {
        background: $colorBlue;
        border-color: $colorBlue;
    }

    svg {
        margin-right: 0.5rem;
    }
}

.Button:disabled {
    opacity: 0.5;
}
