@import '../../styles/common.scss';

.SelectButton {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  background-color: $colorDarkestBlue;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
  border-radius: 2px;
  color: white;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  text-align: start;

  &:hover, &:focus {
    color: $showLinkLinkHover;
    outline: none;
  }

  &-selected {
    color: $colorWhite;
    background-color: $colorOrange;
    font-weight: 900;

    &:hover, &:focus {
      color: $colorWhite;
    }
  }
}