.Tracklist {
  color: white;
}

.TracklistHeading {
  font-size: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.TracklistItem {
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}

.TracklistSearch {
  height: 3em;
  width: 100%;
}

.TracklistSearchContainer {
  padding: 1rem 0rem;
}

.MusicLibrary {
  h1 {
    padding: 1rem 0rem;
  }
}