@import '../../styles/common.scss';

.Tracklist {
  color: $colorMainTextColor;
  width: 100%;

  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.21);
  }
}

.TracklistHeading {
  color: $colorMainHeader;
  font-size: 1.5rem;
  padding: 0.6rem 0.2rem;
  width: 33%;
}

.TracklistItem {
  padding: 0.3rem 0.2rem;
  line-height: 1.2;
  width: 33%;
}

.TracklistSearch {
  height: 3em;
  width: 100%;
}

.TracklistSearchContainer {
  padding: 1rem 0rem;
}

.MusicLibrary {
  h1 {
    padding: 1rem 0rem;
  }
}