@import '../../../styles/common.scss';

.PlayControl {
  background: transparent;
  border: none;
  cursor: pointer;

  @extend .RoundButtonOutline;

  &-iconWrapper {
    display: fleX;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 0;
    font-size: 20px;
    border: 2px solid;
    border-color: $colorOrange;
    border-radius: 50%;
    color: $colorWhite;
  }

  &--Active {
    .PlayControl-iconWrapper {
      color: $colorBlue;
      border-color: $colorBlue;
    }
  }

  &--Large {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: $colorOrange;
    border-radius: 50%;
    padding: 5px;

    .PlayControl-iconWrapper {
      border: none;
      width: 80px;
      height: 80px;
      font-size: 40px;
      border-width: 3px;

      @media (min-width: 600px), (min-device-width: 600px) {
        width: 120px;
        height: 120px;
        font-size: 60px;
      }
    }
  }

  &--Active.PlayControl--Large {
    background: $colorBlue;

    > .PlayControl-iconWrapper > svg {
      color: $colorWhite;
    }
  }
}
