@import '../../styles/common.scss';

.MetadataFormContainer {
  margin: -10px;
  padding: 10px;
  background-color: $colorMainBackgroundDark;
}

.FieldWrapper {
  height: 72px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.FieldLabel {
  width: 100px;
  color: white;
  margin: auto;
}

.ButtonWrapper {
  margin: 32px auto 10px;
  width: 300px;
  text-align: center;
}
