<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="fDOrbgrfvIYE70e3ZdCknEA0LBIEE6onQG9a9mNfbyA" />
    <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Your website">
  <!-- <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png"> -->

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Your website">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#1976d2">
  
  <meta name="theme-color" content="#1976d2">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles.css?v={{buildTime "v"}}"/>
  <script async type="text/javascript" src="bundle.min.js?v={{buildTime "v"}}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126189026-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126189026-1');
  </script>
</head>
<body>
  {{> Header}}
  <div class="Container">
    <div class="Headline">
      <h1><bold>Tur</bold>un</h1>
      <h1><bold>Wa</bold>ppuradio</h1>
    </div>
    {{{contents}}}
  </div>
  
</body>

</html>
