@import '../../styles/common.scss';

.VideoChatHider {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.VCButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.VCElements {
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.VideoContainer {
  flex: 1;
  margin: 10px;
}

.ShoutBoxContainer {
  flex: 1;
  max-width: 900px;
  margin: 10px;
}

.VideoContainer > iframe {
  width: 336px;
  height: 189px;
}

.VCSingleButton {
  margin: .3rem 0;
  > .SelectButton {
    padding: .7rem;
    margin: .2rem;
  }
}

@media (min-width: 640px) {
  .VideoContainer > iframe {
    min-width: 640px;
    width: 100%;
    max-width: 848px;
    height: 360px;
  }
  .ShoutBoxContainer {
    height: 360px;
    min-width: 400px;
  }
}

@media (min-width: 960px) {
  .VideoContainer > iframe {
    height: 480px;
  }
  .ShoutBoxContainer {
    height: 480px;
  }
}

@media (max-width: 639px) {
  .ShoutBoxContainer {
    height: 360px;
  }
}

@media (orientation: portrait) and (max-width: 639px) {
  .ShoutBoxContainer {
    height: 360px;
  }
}

@media (orientation: landscape) and (max-height: 639px) {
  .ShoutBoxContainer {
    height: 360px;
  }
}

@media (orientation: landscape) and (max-height: 380px) {
  .ShoutBoxContainer {
    height: 300px;
  }
}