.sbSingleMessageBox {
  height: auto;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  clear: both;
}

.sbNameText {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: .5rem;
}

.sbMessageText {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}