.sbSingleMessageBox {
  height: auto;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  clear: both;
}

.sbSingleMessageBox:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.10);
}

.sbNameText {
  font-size: 1rem;
}

.sbMessageText {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}